{% extends "layout.html" %}

{% block content %}

<h1 align="center">Add</h1>
<div id='importdiv'>
{% if providers == [] %}
<p>added all providers</p>
{% endif %}
{% for prov in providers %}
<div id="importprov"> {{ prov['name'] }}<button value="{{ prov['varName'] }}" id="importupdate">Import</button></div><br>
{% endfor %}
</div>

<h1 align="center">Added</h1>
<div id='importdiv'>
{% for imprt in imported %}
<div id="importprov">{{ imprt['name'] }}<button value="{{ imprt['varName'] }}" id="importupdate">Change</button></div><br>
{% endfor %}
</div>

<script type="text/javascript">

$( "button" ).click(function() {
	var provider = $(this).val();
	if (provider == 'league') {
		window.location = "importleague";
	}
	else {
		//$.post("accesstoken", {'provider': provider});
		window.location.href = "accesstoken?provider="+provider;
	}
});

</script>

{% endblock %}